.mySVG {
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;

  }
  link{
    color: #000000;
    font: Montserrat;
    font-size: 30px;
    font-weight: bold;
  }

  body{
    font-family: "Montserrat", sans-serif;  
    font-size: 1rem;
    color: #000000;
  }

svg path {
stroke: #A9A9A9;
stroke-width: .25; 
}

svg #path2906:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path5998:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path2630:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #ua:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path3458:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path3918:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}

svg #si:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}

svg #path4066:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #ba:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #ro:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}

svg #path5964:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path5962:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #kosovo:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}

svg #me:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #bg:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #al:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #mk:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path4518:hover { 
  fill: #d40e14;
  transition: 0.6s;
  cursor: pointer;
  }
  svg #sk:hover { 
    fill: #d40e14;
    transition: 0.6s;
    cursor: pointer;
    }
svg #path3804:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path2924:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path3348:hover { 
  fill: #d40e14;
  transition: 0.6s;
  cursor: pointer;
  }
svg #path5796:hover { 
  fill: #d40e14;
  transition: 0.6s;
  cursor: pointer;
  }
svg #by:hover { 
  fill: #d40e14;
  transition: 0.6s;
  cursor: pointer;
  }
svg #pl:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #md:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #lt:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #lv:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #lv:hover { 
fill: #d40e14;
transition: 0.6s;
cursor: pointer;
}
svg #path5490:hover { 
  fill: #d40e14;
  transition: 0.6s;
  cursor: pointer;
  }
  svg #path6492:hover { 
    fill: #d40e14;
    transition: 0.6s;
    cursor: pointer;
    }
    svg #path2812:hover { 
      fill: #d40e14;
      transition: 0.6s;
      cursor: pointer;
      }